shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=46976AD2-A72A-434C-A6B0-148754948D21
